node_modules/
# Dependency directories
jspm_packages/
# Bower dependency directory (https://bower.io/)
bower_components/
# Node.js dependencies
node_modules/
# Yarn dependencies
.yarn/
# pnpm dependencies
.pnpm/
# Compiled source #
dist/
# Output of 'npm pack'
lib-cov/
# Coverage directory used by tools like istanbul
coverage/
# nyc test coverage
.nyc_output/
# Grunt intermediate storage (https://gruntjs.com/)
.grunt/
# Bower cache
.bower-cache/
# Bower dependency directory
.bower_components/
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release/
